@charset "UTF-8";
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0; }

button,
input {
  font-family: inherit;
  font-size: inherit; }

[hidden] {
  display: none !important; }

html,
body,
#root {
  height: 100%; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

body {
  background: #FFF;
  color: #383E49;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px; }

h1,
h2 {
  font-weight: normal; }

a {
  color: #00AFF7;
  text-decoration: none; }
  a:hover {
    color: #2bc1ff; }

.inner-border {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100; }

.show-on-init {
  opacity: 0;
  transition: opacity 0.2s ease-in; }
  .show-on-init.on {
    opacity: 1; }

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle; }
  .icon.icon-spacer {
    margin-right: 8px; }
  .icon.icon-activity-stream {
    background-image: url("img/glyph-activityStream-16.svg"); }
  .icon.icon-arrow {
    background-image: url("img/glyph-showmore-16.svg"); }
  .icon.icon-bookmark {
    background-image: url("img/glyph-bookmark-16.svg"); }
  .icon.icon-bookmark-white {
    background-image: url("img/glyph-bookmark-16-white.svg"); }
  .icon.icon-bookmark-remove {
    background-image: url("img/glyph-bookmark-remove-16.svg"); }
  .icon.icon-delete {
    background-image: url("img/glyph-delete-16.svg"); }
  .icon.icon-dismiss {
    background-image: url("img/glyph-dismiss-16.svg"); }
  .icon.icon-firefox-white {
    background-image: url("img/glyph-firefox-white-16.svg"); }
  .icon.icon-new-window {
    background-image: url("img/glyph-newWindow-16.svg"); }
  .icon.icon-new-window-private {
    background-image: url("img/glyph-newWindow-private-16.svg"); }
  .icon.icon-forward {
    background-image: url("img/glyph-forward-16.svg"); }
  .icon.icon-search {
    background-image: url("img/glyph-search-16.svg"); }
  .icon.icon-settings {
    background-image: url("img/glyph-settings-16.svg"); }
  .icon.icon-showMore {
    background-image: url("img/glyph-showmore-16.svg"); }
  .icon.icon-timeline {
    background-image: url("img/list-icon.svg"); }
  .icon.icon-check {
    background-image: url("img/glyph-check-16.svg"); }
  .icon.icon-pocket {
    background-image: url("img/glyph-pocket-16.svg"); }
  .icon.icon-historyItem {
    background-image: url("img/glyph-historyItem-16.svg"); }
  .icon.icon-sync {
    background-image: url("img/glyph-sync-16.svg"); }
  .icon.icon-tab {
    background-image: url("img/glyph-tab-16.svg"); }
  .icon.icon-topic {
    background-image: url("img/glyph-topic-16.svg"); }
  .icon.icon-rating-default {
    background-image: url("img/glyph-rating-default.svg");
    background-size: 18px; }

.head {
  align-items: center;
  background: #FFF;
  border-bottom: solid 1px #DFE0E1;
  box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.05);
  display: flex;
  position: fixed;
  flex-shrink: 0;
  height: 50px;
  width: 100%;
  padding: 0;
  z-index: 1000; }
  .head h1 {
    font-size: inherit;
    margin: 0; }
  .head section {
    align-items: center;
    display: flex; }
    .head section.nav {
      background: #FBFBFB;
      border-right: 1px solid #eeeeee;
      cursor: pointer;
      height: 100%;
      padding-left: 20px;
      position: relative;
      width: 250px; }
      .head section.nav.disabled {
        cursor: default; }
      .head section.nav:hover .arrow {
        color: #56565A; }
    .head section.spacer {
      flex-grow: 1; }
    .head section.user-info {
      font-size: 14px;
      padding-right: 20px; }
      .head section.user-info span {
        padding: 0 10px; }
      .head section.user-info img {
        border-radius: 15px;
        height: 30px; }

.nav-picker {
  background: #FBFBFB;
  border: 1px solid #e2e2e2;
  box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.05);
  color: #56565A;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 250px; }
  .nav-picker a {
    color: inherit;
    display: block;
    padding: 15px 20px;
    text-decoration: none; }
    .nav-picker a:hover {
      background: #eeeeee; }

#base,
.outer-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

main {
  display: flex;
  flex-grow: 1;
  padding: 20px; }
  main section {
    margin-bottom: 41px; }

.section-title {
  color: #A0A0A0;
  font-size: 12px;
  font-weight: normal;
  margin: 0 0 13px; }

.top-sites .tiles-wrapper {
  margin-right: -20px; }
  @media (min-width: 736px) {
    .top-sites .tiles-wrapper {
      display: flex; } }

.top-sites .tile-outer {
  position: relative;
  display: inline-block;
  margin: 0 24px 0 0; }
  .top-sites .tile-outer:hover .link-menu-button, .top-sites .tile-outer.active .link-menu-button {
    transform: scale(1);
    opacity: 1; }
  @media (min-width: 736px) {
    .top-sites .tile-outer {
      display: block; } }

.top-sites .tile {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  display: inline-flex;
  flex-shrink: 0;
  border-radius: 3px;
  flex-direction: column;
  font-size: 13px;
  height: 96px;
  position: relative;
  text-decoration: none;
  width: 96px;
  color: inherit;
  margin-bottom: 24px; }
  .top-sites .tile:hover, .top-sites .tile.active {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 150ms; }
  @media (min-width: 736px) {
    .top-sites .tile {
      margin-bottom: 0; } }
  .top-sites .tile .tile-img-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center; }
  .top-sites .tile.tile-placeholder {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none; }

.grouped-activity-feed .group {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  padding-bottom: 12px; }
  .grouped-activity-feed .group:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0; }

.activity-feed {
  font-size: 12px;
  line-height: 1.4;
  list-style: none;
  margin: 0;
  padding: 0; }

.feed-item {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid transparent;
  border-radius: 3px; }
  .feed-item:hover .link-menu-button, .feed-item.active .link-menu-button {
    transform: scale(1);
    opacity: 1; }
  .feed-item > a {
    display: flex;
    padding-left: 44px;
    padding-right: 14px;
    padding-bottom: 11px;
    padding-top: 11px;
    color: inherit;
    width: 100%; }
  .feed-item:first-child::before {
    margin-top: -4px;
    top: 32px; }
  .feed-item:last-child::before {
    bottom: 50%;
    margin-bottom: 4px; }
  .feed-item::before {
    background: rgba(0, 0, 0, 0.05);
    bottom: -1px;
    content: '';
    display: block;
    left: 20px;
    position: absolute;
    top: -1px;
    width: 2px; }
  .feed-item::after {
    background: #FFF;
    border: 2px solid #CECECE;
    border-radius: 50%;
    content: '';
    display: block;
    height: 8px;
    left: 17px;
    position: absolute;
    top: 28px;
    width: 8px;
    margin-top: -4px; }
  .feed-item.bookmark::after {
    display: none; }
  .feed-item.bookmark .star {
    background: url("img/glyph-bookmark-16-blue.svg") no-repeat center center;
    background-size: 18px;
    border: 0;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 19px;
    left: 12px; }
  .feed-item.active, .feed-item:hover {
    background: rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .feed-item.active .action-items-container, .feed-item:hover .action-items-container {
      opacity: 1;
      transition-delay: 250ms;
      transition-property: opacity;
      transition-duration: 250ms; }

.site-icon.feed-icon,
.feed-icon-image {
  width: 32px;
  height: 32px;
  margin-right: 10px; }

.feed-icon-image {
  position: relative;
  background-size: cover;
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  flex-shrink: 0; }
  .feed-icon-image .site-icon.feed-icon {
    position: absolute;
    top: -5px;
    left: -5px; }

.feed-details {
  align-items: baseline;
  display: flex;
  flex-grow: 1;
  overflow: hidden; }
  .feed-details .feed-description {
    flex-grow: 1;
    margin-right: 10px;
    overflow: hidden; }
    .feed-details .feed-description .feed-title {
      font-size: inherit;
      font-weight: normal;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .feed-details .feed-description .feed-url {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #00AFF7; }
      .feed-details .feed-description .feed-url::after {
        content: attr(data-feed-url); }
  .feed-details .feed-stats {
    color: #BFBFBF;
    flex-shrink: 0;
    text-align: right; }
  .feed-details .last-visit::after {
    content: attr(data-last-visit); }

.spotlight {
  margin-right: -24px; }
  .spotlight ul.spotlight-list {
    align-items: flex-start;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }

.spotlight-item {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  font-size: 14px;
  background: #FFF;
  display: inline-block;
  margin-right: 24px;
  width: 216px;
  border-radius: 3px;
  height: 270px;
  position: relative; }
  .spotlight-item:hover, .spotlight-item.active {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 150ms; }
  .spotlight-item:hover .link-menu-button, .spotlight-item.active .link-menu-button {
    transform: scale(1);
    opacity: 1; }
  @media (min-width: 736px) {
    .spotlight-item {
      flex-shrink: 0; } }
  .spotlight-item .inner-border {
    border-color: rgba(0, 0, 0, 0.1); }
  .spotlight-item > a {
    display: block;
    color: inherit; }
  .spotlight-item .spotlight-image {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 130px;
    border-radius: 3px 3px 0 0; }
    .spotlight-item .spotlight-image.portrait {
      background-position: top center; }
  .spotlight-item .spotlight-icon {
    border-radius: 3px;
    left: 12px;
    overflow: hidden;
    position: absolute;
    top: 12px; }
  .spotlight-item .spotlight-title {
    margin: 0 0 2px;
    font-size: inherit;
    line-height: inherit;
    word-wrap: break-word; }
  .spotlight-item:hover .spotlight-title {
    color: #00AFF7; }
  .spotlight-item .spotlight-info {
    padding: 12px; }
  .spotlight-item .spotlight-text {
    max-height: 86px;
    overflow: hidden; }
  .spotlight-item .spotlight-description {
    font-size: 13px;
    margin: 0; }
  .spotlight-item.spotlight-placeholder {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    height: 270px; }

.new-tab-wrapper {
  width: 100%;
  max-width: 696px;
  margin: 0 auto; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.loading-notice {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: both; }

.bottom-links-container {
  text-align: left; }
  .bottom-links-container .link-wrapper-right {
    float: right;
    position: relative; }
  .bottom-links-container .context-menu {
    top: auto;
    bottom: 100%;
    right: 0;
    left: auto; }

.bottom-link {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 8px 13px;
  color: #A0A0A0; }
  .bottom-link.expand {
    border-color: transparent; }
    .bottom-link.expand .text {
      display: none; }
    .bottom-link.expand:hover, .bottom-link.expand.active {
      border-color: rgba(0, 0, 0, 0.1); }
      .bottom-link.expand:hover .text, .bottom-link.expand.active .text {
        display: inline; }
  .bottom-link .icon {
    float: left;
    opacity: 0.4; }
  .bottom-link:hover, .bottom-link.active {
    background: #EBEBEB;
    color: inherit; }
    .bottom-link:hover .icon, .bottom-link.active .icon {
      opacity: 1; }

.debug-link {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  background: #00AFF7;
  color: #FFF;
  opacity: 0;
  z-index: 1000;
  font-size: 10px;
  transition: 0.2s 0.2s opacity ease; }
  .debug-link:hover {
    color: #FFF;
    opacity: 1; }

main.timeline {
  margin-top: 50px;
  padding: 0;
  overflow: hidden; }
  main.timeline .wrapper {
    margin-left: 20px;
    max-width: 688px; }
  main.timeline nav.sidebar {
    background: #383E49;
    color: #888B92;
    display: block;
    flex-shrink: 0;
    position: fixed;
    height: 100%;
    width: 250px; }
    main.timeline nav.sidebar ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    main.timeline nav.sidebar a {
      background: none;
      border-left: 4px solid transparent;
      color: inherit;
      display: flex;
      padding: 15px; }
      main.timeline nav.sidebar a .icon {
        margin-right: 10px; }
      main.timeline nav.sidebar a.active, main.timeline nav.sidebar a:hover {
        background: #262a32; }
      main.timeline nav.sidebar a.active {
        border-color: #E14164; }
  main.timeline section.content {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    background: #FBFBFB;
    margin-bottom: 0;
    margin-left: 250px; }
    main.timeline section.content .infinite-scroll {
      margin-top: 12px;
      margin-left: 14px; }

.site-icon {
  position: relative;
  border-radius: 3px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  .site-icon .site-icon-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; }
  .site-icon .site-icon-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .site-icon .site-icon-fallback {
    text-transform: uppercase;
    opacity: 0.75; }
    .site-icon .site-icon-fallback::after {
      content: attr(data-first-letter); }
  .site-icon .site-icon-title {
    width: 100%;
    font-size: 11px;
    border-radius: 0 0 3px 3px;
    background-color: rgba(255, 255, 255, 0.6);
    height: 22px;
    line-height: 22px;
    text-align: center;
    padding: 0 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 1; }
  .site-icon:hover .site-icon-title {
    background-color: #FFF; }

.search-wrapper {
  cursor: default;
  display: flex;
  position: relative;
  margin: 52px 0 62px;
  width: 100%;
  height: 36px; }
  .search-wrapper .search-container {
    z-index: 999;
    background: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: -2px;
    border: 1px solid #BFBFBF;
    font-size: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; }
    .search-wrapper .search-container .search-title {
      color: #666;
      padding: 5px 10px;
      background-color: #F7F7F7;
      display: flex;
      align-items: center;
      word-break: break-all; }
      .search-wrapper .search-container .search-title p {
        margin: 0; }
      .search-wrapper .search-container .search-title #current-engine-icon {
        margin-right: 8px; }
    .search-wrapper .search-container section {
      border-bottom: 1px solid #EAEAEA;
      margin-bottom: 0; }
    .search-wrapper .search-container .search-suggestions ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      .search-wrapper .search-container .search-suggestions ul li a {
        cursor: default;
        color: #000;
        display: block;
        padding: 4px 36px; }
        .search-wrapper .search-container .search-suggestions ul li a:hover, .search-wrapper .search-container .search-suggestions ul li a.active {
          background: #0996F8;
          color: #FFF; }
    .search-wrapper .search-container .history-search-suggestions {
      border-bottom: 0; }
      .search-wrapper .search-container .history-search-suggestions ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .search-wrapper .search-container .history-search-suggestions ul li a {
          cursor: default;
          color: #000;
          display: block;
          padding: 4px 10px; }
          .search-wrapper .search-container .history-search-suggestions ul li a:hover, .search-wrapper .search-container .history-search-suggestions ul li a.active {
            background: #0996F8;
            color: #FFF; }
          .search-wrapper .search-container .history-search-suggestions ul li a:hover > #historyIcon,
          .search-wrapper .search-container .history-search-suggestions ul li a.active > #historyIcon {
            background-image: url("img/glyph-search-history.svg#search-history-active"); }
    .search-wrapper .search-container .history-search-suggestions #historyIcon {
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: -3px;
      background-image: url("img/glyph-search-history.svg#search-history"); }
    .search-wrapper .search-container .search-partners ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      .search-wrapper .search-container .search-partners ul li {
        display: inline-block;
        padding: 5px 0; }
        .search-wrapper .search-container .search-partners ul li a {
          display: block;
          padding: 3px 16px;
          border-right: 1px solid #BFBFBF; }
        .search-wrapper .search-container .search-partners ul li:hover, .search-wrapper .search-container .search-partners ul li.active {
          background: #0996F8;
          color: #FFF; }
          .search-wrapper .search-container .search-partners ul li:hover a, .search-wrapper .search-container .search-partners ul li.active a {
            border-color: transparent; }
    .search-wrapper .search-container .search-settings button {
      color: #666;
      margin: 0;
      padding: 0;
      height: 32px;
      text-align: center;
      width: 100%;
      border-style: solid none none;
      border-radius: 0;
      background: #F7F7F7;
      border-top: 0; }
      .search-wrapper .search-container .search-settings button:hover, .search-wrapper .search-container .search-settings button.active {
        background: #EBEBEB;
        box-shadow: none; }
  .search-wrapper input {
    border-radius: 4px 0 0 4px;
    flex-grow: 1;
    margin: 0;
    padding: 6px 12px 8px 35px;
    border: 1px solid #BFBFBF;
    outline: none;
    box-shadow: none; }
    .search-wrapper input:focus {
      z-index: 1;
      border-color: #0996F8;
      transition: box-shadow 150ms;
      box-shadow: 0 0 0 0.5px rgba(96, 181, 255, 0.75); }
    .search-wrapper input:focus + button {
      z-index: 1;
      border-color: #0996F8;
      transition: box-shadow 150ms;
      box-shadow: 0 0 0 0.5px rgba(96, 181, 255, 0.75);
      background-color: #0996F8;
      background-image: url("img/glyph-forward-16-white.svg");
      color: #FFF; }
  .search-wrapper .search-label {
    background: url("img/glyph-search-16.svg") no-repeat center center;
    background-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; }
  .search-wrapper button {
    border-radius: 0 3px 3px 0;
    margin-left: -1px;
    border: 1px solid #D4D4D4;
    width: 64px;
    padding: 0;
    transition: box-shadow 150ms;
    box-shadow: none;
    background: #FBFBFB url("img/glyph-forward-16.svg") no-repeat center center;
    background-size: 16px 16px; }
    .search-wrapper button:hover {
      z-index: 1;
      border-color: #0996F8;
      transition: box-shadow 150ms;
      box-shadow: 0 0 0 0.5px rgba(96, 181, 255, 0.75);
      background-color: #0996F8;
      background-image: url("img/glyph-forward-16-white.svg");
      color: #FFF; }

.debug-page section {
  clear: both; }

.debug-page label {
  display: block; }

.debug-page textarea {
  width: 100%;
  height: 500px; }

.debug-page .ui-tester {
  display: flex;
  margin-bottom: 20px; }
  .debug-page .ui-tester .form-group {
    margin-right: 20px; }

.debug-page .new-tab-wrapper {
  max-width: 1000px; }
  .debug-page .new-tab-wrapper .spotlight-item {
    float: left;
    margin-bottom: 12px; }
  .debug-page .new-tab-wrapper .top-sites .tiles-wrapper {
    display: block; }
  .debug-page .new-tab-wrapper .top-sites .tile {
    float: left;
    margin-bottom: 12px; }

.json-inspector,
.json-inspector__selection {
  font: 14px/1.4 Consolas, monospace; }

.json-inspector__leaf {
  padding-left: 10px; }

.json-inspector__line {
  display: block;
  position: relative;
  cursor: default; }

.json-inspector__line::after {
  content: '';
  position: absolute;
  top: 0;
  left: -200px;
  right: -50px;
  bottom: 0;
  z-index: -1;
  pointer-events: none; }

.json-inspector__line:hover::after {
  background: rgba(0, 0, 0, 0.1); }

.json-inspector__leaf_composite > .json-inspector__line {
  cursor: pointer; }

.json-inspector__radio,
.json-inspector__flatpath {
  display: none; }

.json-inspector__value {
  margin-left: 5px; }

.json-inspector__search {
  min-width: 300px;
  margin: 0 10px 10px 0;
  padding: 2px; }

.json-inspector__key {
  color: #56565A; }

.json-inspector__value_helper,
.json-inspector__value_null,
.json-inspector__not-found {
  color: #A0A0A0; }

.json-inspector__value_string {
  color: #4EB748; }

.json-inspector__value_boolean {
  color: #00AFF7; }

.json-inspector__value_number {
  color: #E6196F; }

.json-inspector__hl {
  background: #FBFBFB;
  box-shadow: 0 -1px 0 2px #FBFBFB;
  border-radius: 2px; }

.json-inspector__show-original {
  display: inline-block;
  padding: 0 6px;
  color: #383E49;
  cursor: pointer; }

.json-inspector__show-original:hover {
  color: #383E49; }

.json-inspector__show-original::before {
  content: '⥂'; }

.json-inspector__show-original:hover::after {
  content: ' expand'; }

.loader {
  color: #A0A0A0;
  display: flex;
  align-items: center;
  font-size: 13px; }
  .loader.centered {
    justify-content: center; }
  .loader .spinner {
    flex-shrink: 0;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url("img/loading@2x.png");
    background-size: 16px 16px; }

.load-more {
  cursor: pointer;
  font-size: 12px;
  padding-left: 40px; }
  .load-more a {
    background: #EBEBEB;
    border-radius: 12px;
    padding: 4px 12px;
    display: inline-flex;
    align-items: center;
    color: inherit; }
    .load-more a .arrow {
      margin-right: 18px;
      display: inline-block;
      width: 15px;
      height: 15px;
      background-image: url("img/glyph-showmore-16.svg");
      background-size: 15px; }
    .load-more a:hover {
      background: #d2d2d2; }

.context-menu {
  display: block;
  position: absolute;
  font-size: 14px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.2);
  top: 6.75px;
  left: 100%;
  margin-left: 5px;
  z-index: 10000;
  background: #FBFBFB;
  border-radius: 5px; }
  .context-menu > ul {
    margin: 0;
    padding: 5px 0;
    list-style: none; }
    .context-menu > ul > li.separator {
      margin: 5px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .context-menu > ul > li > a {
      cursor: pointer;
      color: inherit;
      white-space: nowrap;
      padding: 3px 12px;
      line-height: 16px;
      display: flex;
      align-items: center; }
      .context-menu > ul > li > a:hover {
        background: #2B99FF;
        color: #FFF; }

.link-menu-button {
  cursor: pointer;
  position: absolute;
  top: -13.5px;
  right: -13.5px;
  width: 27px;
  height: 27px;
  background-color: #FFF;
  background-image: url("img/glyph-more-16.svg");
  background-position: 65%;
  background-repeat: no-repeat;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  transform: scale(0.25);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 200ms;
  z-index: 399; }

.video-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000 no-repeat center center;
  width: 367px;
  height: 206px;
  border-radius: 6px;
  transition: 0.2s opacity;
  overflow: hidden;
  margin-top: 20px; }
  .video-preview::after {
    content: '';
    width: 65px;
    height: 40px;
    background: url("img/playButton@2x.png") no-repeat center center;
    background-size: 65px 40px;
    display: block; }
  .video-preview:hover::after {
    background-image: url("img/playButton-hover@2x.png"); }
  .video-preview.isPlaying::after {
    display: none; }

.video-preview-player {
  width: 100%;
  height: 100%;
  display: block;
  border: 0; }

.highlight-context {
  padding: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #A0A0A0;
  font-size: 11px;
  display: flex;
  align-items: center; }
  .highlight-context .hc-icon {
    opacity: 0.5;
    font-size: 13px;
    margin-right: 6px; }
    .highlight-context .hc-icon .icon {
      display: block; }
  .highlight-context .hc-label {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.tooltip {
  opacity: 0;
  pointer-events: none;
  transition-delay: 250ms;
  transition-property: opacity;
  transition-duration: 250ms;
  position: absolute;
  top: 100%;
  left: 5px;
  margin-top: -5px;
  color: #383E49;
  width: 216px;
  background-color: #FFF3CE;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.27);
  text-align: center;
  font-size: 13px;
  padding: 10px 30px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  z-index: 999; }
  .tooltip-container:hover .tooltip {
    pointer-events: all;
    opacity: 1; }
  .tooltip .tooltip-tip {
    position: absolute;
    top: -5px;
    left: 10px;
    width: 8px;
    height: 8px;
    background-color: #FFF3CE;
    display: block;
    transform: rotate(45deg);
    border: 1px solid rgba(0, 0, 0, 0.27);
    border-bottom-style: none;
    border-right-style: none; }

.rating-container {
  padding-top: 12px;
  transform: scaleX(-1); }
  .rating-container .icon-rating-default {
    position: absolute;
    margin-left: 122px; }
  .rating-container .icon-rating-default:hover,
  .rating-container .icon-rating-default:hover ~ .icon-rating-default,
  .rating-container .active {
    background: url("img/glyph-rating-yellow.svg") no-repeat center center;
    background-size: 18px;
    cursor: pointer; }
